@charset 'utf-8';

@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';
@import '~bulma/sass/base/animations';


/* CSS Styles */

.box.box-primary
{
	// TODO
}

.loading-spinner
{
	-webkit-animation: spinAround 500ms infinite linear;
	        animation: spinAround 500ms infinite linear;
	border: 2px solid #dbdbdb;
	border-radius: 290486px;
	border-right-color: transparent;
	border-top-color: transparent;
	content: '';
	display: block;
	height: 1em;
	position: relative;
	width: 1em;
}

.file-list-item
{
	width: 50%;
}

.button-transition
{
	transition: background-color 300ms;
}


@import '~bulma/bulma';  // This must be last or the variable changes won't work.
