@charset 'utf-8';

@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

/* Set variables */

$palenight-bg: #292D3E;
$palenight-fg: #A6ACCD;
$palenight-text: #B2CCD6;

$primary: #4E87F7;

$body-background-color: $palenight-bg;
$body-color: $palenight-text;
$background: $palenight-bg;


@import '~bulma/bulma';  // This must be last or the variable changes won't work.
