$foundation-palette:
(
	primary: #1779ba,
	secondary: #767676,
	success: #3adb76,
	warning: #ffae00,
	alert: #cc4b37,
);

$valhalla: #292D3E;
$spindle: #B2CCD6;

$body-background: $valhalla;
$body-font-color: $spindle;


@import '~foundation-sites/scss/foundation.scss';
@include foundation-everything;
